.Backdrop {
  width: 100%;
  height: 100%;
  /* stays in position even if we scroll */
  position: fixed;
  /* backdrop zit onder Modal met z-index 500 */
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
}